<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.epam.totalizator.servlet.Controller</servlet-class>
  </servlet>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>StartPageRedirectFilter</display-name>
    <filter-name>StartPageRedirectFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.StartPageRedirectFilter</filter-class>
    <init-param>
      <param-name>start_path</param-name>
      <param-value>/index.jsp</param-value>
    </init-param>
  </filter>
  <listener>
    <listener-class>com.epam.totalizator.servlet.SessionListener</listener-class>
  </listener>
  <filter>
    <display-name>MainPageFillter</display-name>
    <filter-name>MainPageFillter</filter-name>
    <filter-class>com.epam.totalizator.filter.MainPageFillter</filter-class>
  </filter>
  <filter>
    <display-name>StatisticPageFilter</display-name>
    <filter-name>StatisticPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.StatisticPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>TeamPageFilter</display-name>
    <filter-name>TeamPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.TeamPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>AddCompetitionPageFilter</display-name>
    <filter-name>AddCompetitionPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.AddCompetitionPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>AddTeamPageFilter</display-name>
    <filter-name>AddTeamPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.AddTeamPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>PersonalDataPageFilter</display-name>
    <filter-name>PersonalDataPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.PersonalDataPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>MakeBetPageFilter</display-name>
    <filter-name>MakeBetPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.MakeBetPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>PoolPageFilter</display-name>
    <filter-name>PoolPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.PoolPageFilter</filter-class>
  </filter>
  <filter>
    <display-name>BetsPageFilter</display-name>
    <filter-name>BetsPageFilter</filter-name>
    <filter-class>com.epam.totalizator.filter.BetsPageFilter</filter-class>
  </filter>
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
</web-app>
